ARCHIVE_FILE	|PARSED_[0-9]{8}_[0-9]{4}_[0-9]{4}.*\.zip		|14	|f	|E:/dq/nrt/s4_file_ingest/archive			|\\<WFLS IP>\PARSED_ARCHIVE				|Y
ARCHIVE_FILE	|STORED_[0-9]{8}_[0-9]{4}_[0-9]{4}.*\.zip		|14	|f	|E:/dq/nrt/s4_file_ingest/archive			|\\<WFLS IP>\STORED_ARCHIVE				|Y
ARCHIVE_FILE	|FAILED_[0-9]{8}_[0-9]{4}_[0-9]{4}.*\.zip		|14	|f	|E:/dq/nrt/s4_file_ingest/archive			|\\<WFLS IP>\FAILED_ARCHIVE				|Y
DELETE_FOLDER	|[0-9]{8}						|365	|f	|\\<WFLS IP>\PARSED_ARCHIVE				|N/A							|Y
DELETE_FOLDER	|[0-9]{8}						|365	|f	|\\<WFLS IP>\STORED_ARCHIVE				|N/A							|Y
DELETE_FOLDER	|[0-9]{8}						|365	|f	|\\<WFLS IP>\FAILED_ARCHIVE				|N/A							|Y
DELETE_FOLDER	|[0-9]{8}						|365	|f	|\\<WFLS IP>\RAW_ARCHIVE				|N/A							|Y
DELETE_FILE	|DQ_IL2_Archive_XML_files_[0-9]{8}.*\.log		|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_IL2_DB_GP_LOAD_XML_[0-9]{8}.*\.log			|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_IL2_drip_feed_parsed_files_[0-9]{8}.*\.log		|30	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_IL2_drip_feed_raw_files_[0-9]{8}.*\.log		|30	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_IL2_index_raw_msg_[0-9]{8}.*\.log			|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_IL2_LOGFILE_[0-9]{8}.*\.log				|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_IL2_PREPROCESS_XML_FILES_LOGFILE_[0-9]{10}.*\.log	|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_IL2_PREPROCESS_XML_FILES_LOGFILE_[0-9]{8}.*\.log	|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_IL2_Prep_XML_files_[0-9]{8}.*\.log			|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_IL2_SEQ_CHECK_[0-9]{8}.*\.log			|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_File_Retention_[0-9]{8}.*\.log			|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_IL2_SFTP_to_HODAC_[0-9]{8}.*\.log			|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_INVALID_SEQ_DETAILS_.*\.log				|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
DELETE_FILE	|DQ_CC_DETAILS_[0-9]{8}.*\.log				|365	|f	|E:/dq/nrt/s4_file_ingest/log				|N/A							|Y
MOVE_FILE	|DQ_CC_DETAILS_[0-9]{8}.*\.log				|1	|f	|E:/dq/nrt/s4_file_ingest/FTP_landingzone/done		|E:/dq/nrt/s4_file_ingest/log				|Y
ARCHIVE_FILE	|\[-PRMD=EG-ADMD=ICAO-C=XX-;MTA-EGGG-1-MTCU_.*\]\.json	|-1	|t	|E:/dq/nrt/s4_file_ingest/archive			|\\<WFLS IP>\NATS_ARCHIVE				|Y